* {
    margin: 0;
    padding: 0;
}

.leftSidebar {
    position: sticky;
    top: 0;
    width: fit-content;
    height: 100vh;
    padding: 58px 0 0;
    box-shadow: 7px 0px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    text-wrap: nowrap;
}
.rightSidebar {
    max-width: 10rem;
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    padding: 58px 0 0;    
    box-shadow: -7px 0px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    text-wrap: nowrap;
}

.divSidebar {
    display: flex;
    justify-content: center;
}

.homeMain {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.mainOptions>div {
    display: flex;
    align-items: center;
    cursor: pointer !important;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

.mainOptions>div:hover {
    background-color: lightgray;
}

.mainOptions>div>p {
    margin: 0 0 0 10px;
}

.mainProfile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.mainProfile>div {
    cursor: pointer !important;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.mainProfile>div:hover {
    background-color: lightgray;
}

.mainProfile h1 {
    font: bold;
    font-size: 1rem;
    margin: 0;
}

.mainProfile p {
    font-size: 0.7rem;
    color: gray;
    margin: 0;
}

.mainProfile>div>img {
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
}

.mainProfile>i {
    cursor: pointer !important;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
}

.homeExtra {
    display: flex;
    flex-direction: column;
}

.centerDiv {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.postTweetDiv {    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTweet {    
    width: 40%;
    display: flex;
    flex-direction: row;
}

.postTweet > textarea {
    margin: 1rem 0.25rem;
    width: 100%;
    height: 1.75rem;
    resize: none;
    outline-width: 0;
    border: transparent;
}

.postTweet > img {
    width: 4rem;
    height: 4rem;
    border-radius: 360px;
}

.postTweetOptions {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.postTweetOptionsButton {    
    display: flex;
    flex-direction: row;
}

.tweets {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tweet {
    width: 30rem;
    display: flex;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    margin: 5px;
    flex-direction: column;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 50%);
}

.tweetUserData {
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.userImage {
    width: 2rem;
    height: 2rem;
    border-radius: 360px;
    margin: 5px;
}
.imageProfile {
    width: 15rem;
    height: 15rem;
}

.verified {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 5px;
    filter: invert(55%) sepia(53%) saturate(5278%) hue-rotate(163deg) brightness(97%) contrast(101%);
}

.tweetUserData>p {
    margin: 0px;
}

.tweetContent {
    display: flex;
    flex-direction: column;
}

.tweetContent>p {
    border: 0px;
    margin: 0 5px 0 5px;
}

.tweetContentImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweetContentImage>img {
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
}

.tweetActions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    height: 40px;
    align-items: center;
}

.tweetActions>div {
    display: flex;
    align-items: center;
    width: 5rem;
}

.clickable {
    cursor: pointer !important;
    padding: 10px;
    border-radius: 20px;
}

.liked {
    color: red;
}

.liked:hover, .like:hover {
    background-color: #FF000040;
    color: red;
}

.retweeted {
    color: #53FF51;
    transition-duration: 0.8s;
    transition-property: transform;
}

.retweeted:hover, .retweet:hover {
    background-color: #53FF5140;
    color: #53FF51;
}

.reply:hover {
    background-color: #40E2FF40;
    color: #40E2FF;
}

.followButton {
    border-radius: 20px;
    background: #212529;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    width: max-content;
    color: white;
    font-weight: bold;
    border: #212529;
    border-style: solid;
    border-width: 1px;
}
.followButton:hover {
    background-color: #343a40;
}

.editProfileButton {
    border-radius: 20px;
    background: white;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    width: max-content;
    color: #212529;
    font-weight: bold;
    border: #212529;
    border-style: solid;
    border-width: 1px;
}
.editProfileButton:hover {
    background: #f8f9fa;
}

.profileSettings {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.profileInformation {
    display: flex;
    flex-direction: row;
}

.profileInformation > i {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}
.profileInformation > i > p {
    display: flex;
    color: gray;
    font-size: 0.8rem;
    font-family: 'sans-serif';
    margin: 0.5rem;
}

.divFollowData {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.divFollowData > div {
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.divFollowData > div > p > a {
    font-weight: bold;
}

.divFollowData > div > p:hover {
    text-decoration: underline;
}

.changeImage {
    background: #343a4060;
    padding: 0.5rem;
    border-radius: 2rem;
}

.error {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.errorMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage > h1 {
    padding: 8px;
}

.errorMessage > h2 {
    padding: 4px;
}

.error > img {
    width: 35rem;
    height: 35rem;
}

.error > * {
    padding: 8px;
}

/* Circles: https://stackoverflow.com/questions/24393993/create-a-percentage-circle-with-css */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
  justify-content: space-around;
}

.circular-chart {
  display: block;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.red .circle {
  stroke: rgb(244, 33, 46);
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 1em;
  text-anchor: middle;
}