<!DOCTYPE html>
<html>

<head th:replace="~{head :: head(title='Inicio / Twittir')}">
</head>

<body>
    <div class="divSidebar">
        <div th:replace="~{sidebar/LeftSidebarTemplate}"></div>
        <div class="centerDiv">
            <div class="postTweetDiv" th:if="${userData} != null">
                <div class="postTweet">
                    <img th:object="${userData}" th:src="@{'http://localhost:8080/api/getUserImageProfile?user=' + *{getID()}}" onerror="this.src='http://localhost:8080/images/default_user.png';"/>
                    <textarea placeholder="¡¿Qué está pasando?!" id="tweetInput"></textarea>
                </div>
                <div class="postTweetOptions">
                    <div>
                        <i class="fa-regular fa-image clickable"></i>
                    </div>
                    <div class="postTweetOptionsButton">
                        <div class="single-chart" style="visibility: hidden;">
                            <svg viewBox="0 0 36 36" class="circular-chart blue">
                                <path class="circle-bg" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <path class="circle" stroke-dasharray="0, 100" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <text x="18" y="22.5" class="percentage">0</text>
                            </svg>
                        </div>
                        <button onClick="postButton()">Postear</button>
                    </div>
                </div>
            </div>
            <div id="tweetsContainer" class="tweets"></div>
            <div id="otherTweetsContainer" class="tweets"></div>
        </div>
        <div th:replace="~{sidebar/RightSidebarTemplate}"></div>
    </div>
</body>
<script>
    var tweetInput = document.getElementById("tweetInput")
    if (tweetInput != null) {
        tweetInput.setAttribute("style", "height:" + (tweetInput.scrollHeight) + "px;overflow-y:hidden;");
        tweetInput.style.height = (tweetInput.scrollHeight) + "px";
        tweetInput.oninput = function() {
            updateTweetCircle(tweetInput.value)
            tweetInput.style.height = 'auto';
            tweetInput.style.height = (tweetInput.scrollHeight) + "px";
        }
    }
    function updateTweetCircle(tweetValue) {
        var maxTweetLength = 280
        var circle = document.getElementsByClassName("single-chart")[0]
        var circleColor = document.getElementsByClassName("circular-chart")[0]
        var circlePorcent = document.getElementsByClassName("circle")[0]
        var porcentage = document.getElementsByClassName("percentage")[0]
        if (circle != null && porcentage != null && circlePorcent != null && circleColor != null) {
            var tweetLength = tweetValue.length
            circlePorcent.setAttribute("stroke-dasharray", ((tweetLength / maxTweetLength) * 100) + ", 100")
            porcentage.innerHTML = maxTweetLength - tweetLength <= 20 ? maxTweetLength - tweetLength: "" 
            if (maxTweetLength - tweetLength <= 0) {
                porcentage.style.fill = "rgb(244, 33, 46)"
                circleColor.classList = "circular-chart red"
            } else {
                porcentage.style.fill = "#666"
                if (maxTweetLength - tweetLength <= 20) {
                    circleColor.classList = "circular-chart orange"
                } else {
                    circleColor.classList = "circular-chart blue"
                }
            }
            circle.style.visibility = tweetLength != 0 ? "visible" : "hidden";
        }
    }
    fetchAsync("http://localhost:8080/api/getTweets", "GET").then(function (data) {
        for (var dat in data) {
            addTweet(data[dat], "tweetsContainer")
        }
    }).catch(function (reason) {
        console.log("Error: " + reason)
    })
</script>
</html>