<!DOCTYPE html>
<html>
    <head th:replace="~{head :: head(title='Tweets')}"></head>
    <body>
        <div th:if="${showContent}">
            <p>Este contenido se muestra si showContent es verdadero.</p>
        </div>
        <!-- Puedes usar th:unless para el caso contrario -->
        <div th:unless="${showContent}">
            <p>Este contenido se muestra si showContent es falso.</p>
        </div>
        <h1>Tweets:</h1>
        <div id="tweetsContainer" class="tweets">
        <!-- 
            <div th:each="tweetData: ${tweetsData}">
                <div th:replace="~{tweet :: tweet(tweetData=${tweetData})}"></div>
            </div>
         -->
        </div>
    </body>
</html>